html, body {
  padding:10px;
  color:#333;
  font-family:Arial, Helvetica, sans-serif;
}

.app {
  position:relative;
  max-width:1124px;
  margin:0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4 {
  padding:0 0 10px 0;
  margin:0;
}

h2 {
  font-size:18px;
}

button.primary {
  position:relative;
  outline:none;
  border:none;
  padding:10px 40px;
  border-radius:3px;
  background-color:rgb(73, 116, 235);
  color:#fff;
  font-size:14px;
  cursor:pointer;
}

button.primary:disabled {
  background-color:#9ab5ff;
}

button.primary svg {
  font-size:17px;
  vertical-align:text-bottom;
  padding-right:8px;
}

button.primary * {
  cursor:pointer;
}

button.secondary {
  background:none;
  outline:none;
  font-size:15px;
  padding:2px 8px;
  color:rgb(73, 116, 235);
  border:1px solid rgb(73, 116, 235);
  border-radius:3px;
  cursor:pointer;
}

.csv-upload {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
  margin:0;
  padding:0;
  cursor:pointer;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer; 
}

.step {
  padding-bottom:30px;
}

.step.pick-columns .column-choice {
  padding-bottom:10px;
}

.step.pick-columns label {
  display:inline-block;
  width:100px;
}

.step.pick-columns select {
  width: 180px;
  padding: 5px;
}

.progress {
  font-size: 14px;
  padding-top: 5px;
}

.step.results td {
  font-size:14px;
  padding:1px 10px 1px 0;
}

.step.results td:nth-child(2) {
  text-align:right;
}

.step.results td button {
  border:none;
  outline:none;
  background:none;
  padding:0;
  margin:0;
  color:rgb(73, 116, 235);
  text-decoration:underline;
  cursor:pointer;
}

.step.results table {
  margin-bottom:20px;
}

progress[value]::-webkit-progress-bar {
  background-color:rgb(73, 116, 235);
}

.overview-map {
  position:absolute;
  top:10px;
  right:30px;
  width:640px;
  height:480px;
}

.overview-map .leaflet-container {
  width:100%;
  height:100%;
}

.leaflet-popup-content h1 {
  font-size:17px;
  padding-bottom:10px;
}

.leaflet-popup-content h2 {
  font-size:15px;
  font-weight:normal;
  padding-bottom:10px;
}

.leaflet-popup-content h2 a {
  color:rgb(73, 116, 235);
}