.correction-modal {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.6);
  z-index:9999;
  display:flex;
  justify-content:center;
  align-items:center;
}

.correction-modal h3 {
  font-size:17px;
  padding-top:10px;
}

.correction-modal .record-details-wrapper {
  position:relative;
  width:90%;
  max-width:1100px;
  max-height:90%;
  overflow-y:scroll;
  box-shadow:0 0 18px rgba(0, 0, 0, 0.15);
  border-radius:3px;
}

.correction-modal .mini-map {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 290px;
  height: 240px;
  border-radius: 3px;
  overflow: hidden;
}

.correction-modal .mini-map .leaflet-container {
  width:100%;
  height:100%;
}

.correction-modal .record-details {
  background-color:#fff;
  display:flex;
  flex-direction:column;
}

.correction-modal .record-details header {
  flex:0;
  color:#fff;
  background-color:rgb(73 116 235);
  padding:10px;  
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.correction-modal .record-details header .nav {
  font-size:30px;
  display:inherit;
}

.correction-modal .record-details header .nav svg {
  cursor:pointer;
}

.correction-modal .section.place-info {
  padding:20px;
  padding-right:340px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.correction-modal .place-info table {
  border-collapse:collapse;
  width:100%;
  margin-bottom:20px;
}

.correction-modal .place-info table tr:first-child td {
  border-top:1px solid rgb(204, 204, 204);
}

.correction-modal .place-info table tr:last-child td {
  border-bottom:none;
}

.correction-modal .place-info table tr td:first-child {
  width:90px;
}

.correction-modal .place-info table td {
  padding:3px 20px 3px 0;
  border-bottom:1px solid rgb(204, 204, 204);
  line-height: 160%;
}

.correction-modal .record-details .section.alternatives {
  background-color:#f5f5f5;
}

.correction-modal .section.alternatives .search {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:10px;
}

.correction-modal .section.alternatives .search div {
  flex:1;
  display:flex;
  flex-direction:row;
  margin-left:10px;
  max-width:340px;
  position:relative;
}

.correction-modal .section.alternatives .search div input {
  padding:5px 10px;
  border:1px solid rgb(204, 204, 204);
  color:rgba(0,0,0,0.8);
  width:100%;
  outline:none;
}

.correction-modal .section.alternatives .search div svg {
  position:absolute;
  top:5px;
  right:8px;
  font-size:30px;
  color:rgba(0, 0, 0, 0.35);
}

.correction-modal .section.alternatives table {
  border-collapse:collapse;
  width:100%;
  margin-bottom:20px;
}

.correction-modal .section.alternatives table th {
  text-align:left;
  padding:10px;
  font-size:15px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.1);
  border-width:0 0 1px 0;
}

.correction-modal .section.alternatives table td {
  background-color:rgba(255, 255, 255, 0.8);
  padding:5px 10px;
  font-size:15px;
  border-bottom:1px solid #f5f5f5;
}

.correction-modal .section.alternatives table td button {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  text-decoration:underline;
  color:rgb(73, 116, 235);
}